@import "tailwindcss";

@font-face {
  font-family: "quilka";
  src: url("/src/assets/fonts/Qilkabold-DO6BR.otf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "abeezee";
  src: url("/src/assets/fonts/ABeeZee-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@theme {
  --font-abezee: "abeezee", sans-serif;
  --font-Qilka: "quilka", arial;
  --color-primary: #ec4007;
  --color-secondary: #7a07ec;
  --color-dark: #190a02;
}

.clip-bottom {
  clip-path: ellipse(190% 100% at 50% 0);
}

.clip-top {
  clip-path: ellipse(190% 100% at 50% 100%);
  /* clip-path: ellipse(190% 100% at 50% 100%); */
}
