@import "tailwindcss";

@font-face {
  font-family: "quilka";
  src: url("/src/assets/fonts/Qilkabold-DO6BR.otf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "abeezee";
  src: url("/src/assets/fonts/ABeeZee-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

html {
  overscroll-behavior: none;
}

body {
  overscroll-behavior: none;
  -webkit-overflow-scrolling: touch;
  margin: 0;
  padding: 0;
}

/* slider config */

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overscroll-behavior-x: contain;
}

@theme {
  --font-abezee: "abeezee", sans-serif;
  --font-Qilka: "quilka", arial;
  --color-primary: #ec4007;
  --color-secondary: #7a07ec;
  --color-dark: #190a02;
  --color-light-pink: #fff2ec;
}

.clip-bottom {
  clip-path: ellipse(190% 100% at 50% 0);
}

.clip-top {
  clip-path: ellipse(190% 100% at 50% 100%);
  /* clip-path: ellipse(190% 100% at 50% 100%); */
}

/* Hide scrollbar for Chrome, Safari, and Edge */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE & Edge */
  scrollbar-width: none;
  /* Firefox */
}
